body {
  background: #111;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
  font-family: sans-serif;
}

#gameCanvas {
  background: #222;
  border: 2px solid #555;
}
